.scoreboard {
  color: #bbbbbb;
  text-transform: uppercase;
  border: 3px solid #bbbbbb;
  border-radius: 6px;
  align-self: center;
  padding: 20px;
  position: absolute;
  bottom: -200px;
}

@media only screen and (max-width: 960px) {
  .scoreboard {
    position: relative;
    width: 100%;
    top: 0;
  }
}