@font-face {
  font-family: "super_smash_fontregular";
  src: url("./fonts/supersmashfont_0.910-webfont.woff2") format("woff2"),
    url("./fonts/supersmashfont_0.910-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

h1, p {
  margin: 0;
}

body {
  margin: 0;
  font-family: "super_smash_fontregular";
  background-image: url(./images/background-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}